/* Main CSS for your portfolio */
body {
  font-family: Arial, sans-serif;
  background-color: #ff32047a;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ea2626;
  color: white;
  padding: 20px;
  text-align: center;}
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
  }

.content {
  max-width: 800px;
  margin: 20px auto;
  background: #e4aaca;
  padding: 10px;
  box-shadow: 0 2px 8px rgb(238, 255, 0);
  border-radius: 8px;
}
ul {
  list-style-type: disc;
  margin: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 0;
  font-size: larger;
    line-height: 1.8;
    text-indent: 20px;
}

li {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px #ffffff;
    padding: 10px;
}

footer {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ea2626;
  color: white;
  padding: 10px;
  text-align: center;
}

