/* Main CSS for the portfolio */
body {
  font-family: Arial, sans-serif;
  background-color: #1b96027a;
  margin: 0;
  padding: 0;
}
header {
  background-color: #73e4ee;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;}
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
  }
div.skills-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.certifications {
max-width: 800px;
  margin: 20px auto;
  background-color: #73e4ee;
  background: #73e4ee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 0 2px 8px rgb(238, 255, 0);
  border-radius: 8px;
  padding-top: 0%;
  padding-bottom: 0%;

}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin: 20px auto;
  background-color: #73e4ee;
  background: #73e4ee;
  padding: 10px;
  box-shadow: 0 2px 8px rgb(238, 255, 0);
  border-radius: 8px;
  padding-top: 0%;
  padding-bottom: 0%;
}
ul {
  list-style-type: none;
  margin: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 0;
  font-size: larger;
    line-height: 1.8;
    text-indent: 20px;
}

li {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px #ffffff;
    padding: 10px;
}
h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #000000;
}
footer {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #22d6ee;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

